*{
    box-sizing: border-box;
}

#punch{
    background-color: rgb(190, 160, 160);
}

#category{
    background-color: rgb(167, 196, 179);}

#secondBox{
    
    width: 80%;
    margin-top: -90px;
   margin-left: 350px;
    
}